; The format of the input file:
; each device definition begins with a line like this:
;
;       .devicename
;
;  after it go the port definitions in this format:
;
;       portname        address
;
;  the bit definitions (optional) are represented like this:
;
;       portname.bitname  bitnumber
;
; lines beginning with a space are ignored.
; comment lines should be started with ';' character.
;
; the default device is specified at the start of the file
;
;       .default device_name
;
; all lines non conforming to the format are passed to the callback function
;
; MOTOROLA SPECIFIC LINES
;------------------------
;
; the processor definition may include the memory configuration.
; the line format is:

;       area CLASS AREA-NAME START:END
;
; where CLASS is anything, but please use one of CODE, DATA, BSS
;       START and END are addresses, the end address is not included

; Interrupt vectors are declared in the following way:

; interrupt NAME ADDRESS COMMENT

;.default ps3spu

;.ps3spu
; MEMORY MAP
;area DATA RAM0	         0x000000:0x008000 low ram bank 0
;area DATA RAM1	         0x008000:0x00f000 low ram bank 1
;area DATA IO0            0x00Fc00:0x010000 io page
;area CODE ROM0           0x080000:0x0a0000 rom
;area DATA RAM2           0x400000:0x410000 high ram bank

;area CODE RAM0           0x00000000:0x00040000 ram

; Interrupt and reset vector assignments
;;interrupt RESET      0x080000     RESET Vector
;;interrupt IRQ        0x080008     IRQ Vector

; INPUT/OUTPUT PORTS
;PortFC00	0xfc00		IO Reg
;PortFC00.bit0	0
;PortFC40	0xfc40		IO Reg

;P0              0x0080   Port 0
;P0.P07           7
;P0.P06           6
;P0.P05           5
;P0.P04           4
;P0.P03           3
;P0.P02           2
;P0.P01           1
;P0.P00           0




